#scrolling-chat-box{
  overflow-x: hidden;
  overflow-y: auto;
  margin:0px;
  padding-bottom: 10px;
  min-height:50vh;
  max-height:70vh;
  width:275px;
  padding-top:15px;
  margin:0px !important;
  padding-left:7px;
}

#input{
  padding-left:20px;
  padding-right:20px;
  padding-bottom:25px;
}

#info{
  height:25px;
  /*border-bottom: 3px solid #B70E0E;*/
  background:#CE3B3B;
  color:white;
  font-size:12px;
  position:relative;
  padding-top:5px;
  padding-right:40px;
  margin-left:0px;
  z-index: 1000;
}

.info-text{
  font-size:12px;
  padding-left:6px;

}
