<div id="banner">
  <div id="background">
    <div class="row" style="margin:0px">
      <div style="margin-left:45px;padding-top:25px;float:left;max-width:50vw">
        <br>
        <br>
        <br>
        <br>
        <div id="textBackground">
          <p id="subtitle" style="display:inline-block">Introducing Watson Smart Ordering</p>
          <h4 id="title">Cloudy with a chance of you should have that burger</h4>
          <p class="sub-text" style="color:white;">Unsure of what to eat?  Let Watson tell you what you're feeling like based off of IBM WeatherFX analytics. Click the tab on the right to get started!</p>
          <p id="subtitle" style="display:inline-block;">Learn more!</p>
        </div>
      </div>
    </div>
  </div>
</div>
