<div id="menuPanel">
  <br>
  <br>
  <div class="row">
    <hr>
    <h4 class="title">Our Menu</h4>
  </div>
  <div style="margin-left:30px;margin-right:30px">
    <hr class="sm">
    <h4 class="subtitle" id="burger">Create Your Dream Burger</h4>
    <div class="row">
      <div class="col-xs-3">
        <div class="shadow">
          <img src="assets/img/burger.jpg" class="themeImg">
        </div>
      </div>
      <div class="col-xs-9">
        <p class="sub-text left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="sub-text left">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-4 menuItem" [ngClass]="{highlighted: item === 'burger'}">
        <div class="row">
          <div class="col-xs-3 itemName">
            Meat
          </div>
          <div class="col-xs-8">
            <ul>
              <li>Beef</li>
              <li>Turkey</li>
              <li>Veggie</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4 menuItem" [ngClass]="{highlighted: item === 'burger_options'}" id="burger_options">
        <div class="row">
          <div class="col-xs-3 itemName">
            Cheeses
          </div>
          <div class="col-xs-8">
            <ul>
              <li>American</li>
              <li>Cheddar</li>
              <li>Swiss</li>
              <li>Blue</li>
              <li>None</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-3 itemName">
            Bun
          </div>
          <div class="col-xs-8">
            <ul>
              <li>Potato</li>
              <li>White Sesame</li>
              <li>Brioche</li>
              <li>Naked</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="sm">
    <h4 class="subtitle" id="pizza">Unparalelled Pizza. Fughettaboutit</h4>
    <div class="row">
      <div class="col-xs-3">
        <div class="shadow">
          <img src="assets/img/pizza.jpg" class="themeImg">
        </div>
      </div>
      <div class="col-xs-9">
        <p class="sub-text left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="sub-text left">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-6 menuItem" [ngClass]="{highlighted: item === 'pizza'}">
        <div class="row">
          <div class="col-xs-3 itemName">
            Pie Size
          </div>
          <div class="col-xs-8">
            <ul>
              <li>Small - 14 inches</li>
              <li>Medium - 16 inches</li>
              <li>Large - 18 inches</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-6 menuItem" [ngClass]="{highlighted: item === 'pizza_type'}">
        <div class="row">
          <div class="col-xs-3 itemName">
            Toppings
          </div>
          <div class="col-xs-8">
            <ul>
              <li>Plain</li>
              <li>Pepperoni</li>
              <li>Sausage</li>
              <li>Mushrooms</li>
              <li>Peppers</li>
              <li>Onions</li>
              <li>Extra Cheese</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="sm">
    <h4 class="subtitle" id="taco">Taco Time</h4>
    <div class="row">
      <div class="col-xs-3">
        <div class="shadow">
          <img src="assets/img/taco.jpg" class="themeImg">
        </div>
      </div>
      <div class="col-xs-9">
        <p class="sub-text left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="sub-text left">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-6 menuItem" [ngClass]="{highlighted: item === 'taco'}">
        <div class="row">
          <div class="col-xs-3 itemName">
            Taco Meat
          </div>
          <div class="col-xs-8">
            <ul>
              <li>Chicken</li>
              <li>Braised Short Rib</li>
              <li>Pork Belly</li>
              <li>Baja Fish</li>
              <li>Ground Beef</li>
              <li>Baja Fish</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-6 menuItem" [ngClass]="{highlighted: item === 'taco_options'}">
        <div class="row">
          <div class="col-xs-3 itemName">
            Taco Shell
          </div>
          <div class="col-xs-8">
            <ul>
              <li>Hard</li>
              <li>Soft</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="sm">
    <h4 class="subtitle" id="salad">Get your greens on</h4>
    <div class="row">
      <div class="col-xs-3">
        <div class="shadow">
          <img src="assets/img/salad.jpg" class="themeImg">
        </div>
      </div>
      <div class="col-xs-9">
        <p class="sub-text left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="sub-text left">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-4 menuItem" [ngClass]="{highlighted: item === 'salad'}">
        <div class="row">
          <div class="col-xs-3 itemName">
            Leaf Type
          </div>
          <div class="col-xs-8">
            <ul>
              <li>Iceberg</li>
              <li>Romaine</li>
              <li>Mixed Greens</li>
              <li>Spinach</li>
              <li>Kale</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4 menuItem" [ngClass]="{highlighted: item === 'salad_type'}">
        <div class="row">
          <div class="col-xs-3 itemName">
            Main Ingredient
          </div>
          <div class="col-xs-8">
            <ul>
              <li>Turkey</li>
              <li>Chicken</li>
              <li>Shrimp</li>
              <li>Salmon</li>
              <li>Falafel</li>
              <li>Plain</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4 menuItem" [ngClass]="{highlighted: item === 'salad_options'}">
        <div class="row">
          <div class="col-xs-3 itemName">
            Dressing
          </div>
          <div class="col-xs-8">
            <ul>
              <li>Balsamic</li>
              <li>Italian</li>
              <li>Ranch</li>
              <li>Caesar</li>
              <li>Chunky Blue</li>
              <li>Red-wine vinaigrette</li>
              <li>Plain</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="sm">
    <h4 class="subtitle" id="soup">No Soup for You!</h4>
    <div class="row">
      <div class="col-xs-3">
        <div class="shadow">
          <img src="assets/img/soup.jpg" class="themeImg">
        </div>
      </div>
      <div class="col-xs-9">
        <p class="sub-text left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="sub-text left">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-6 menuItem" [ngClass]="{highlighted: item === 'soup'}">
        <div class="row">
          <div class="col-xs-2 itemName">
            Type
          </div>
          <div class="col-xs-9">
            <ul>
              <li>Chicken Noodle</li>
              <li>Tomato</li>
              <li>French Onion</li>
              <li>New England Clam Chowder</li>
              <li>Minestrone</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-6 menuItem" [ngClass]="{highlighted: item === 'soup_size'}">
        <div class="row">
          <div class="col-xs-2 itemName">
            Size
          </div>
          <div class="col-xs-9">
            <ul>
              <li>Small</li>
              <li>Medium</li>
              <li>Large</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="sm">
    <h4 class="subtitle" id="side">Sides</h4>
    <div class="row">
      <div class="col-xs-3 menuItem" style="padding:0px" [ngClass]="{highlighted: item === 'fries'}">
        <div class="row">
          <div class="shadow">
            <img src="assets/img/fries.jpeg" class="sideItem">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 itemName">
            Fries
          </div>
          <div class="col-xs-9">
            <ul style="font-size:93%">
              <li>Regular</li>
              <li>Curly</li>
              <li>Waffle</li>
              <li>Disco</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-3 menuItem" style="padding:0px" [ngClass]="{highlighted: item === 'side salad'}">
        <div class="row">
          <div class="shadow">
            <img src="assets/img/sidesalad.jpeg" class="sideItem">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 itemName" >
            Salad
          </div>
          <div class="col-xs-9">
            <ul style="font-size:93%">
              <li>Turkey</li>
              <li>Chicken</li>
              <li>Shrimp</li>
              <li>Salmon</li>
              <li>Falafel</li>
              <li>Plain</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-3 menuItem" style="padding:0px" [ngClass]="{highlighted: item === 'side soup'}">
        <div class="row">
          <div class="shadow">
            <img src="assets/img/sidesoup.jpeg" class="sideItem">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 itemName">
            Soup
          </div>
          <div class="col-xs-9">
            <ul style="font-size:93%">
              <li>Chicken Noodle</li>
              <li>Tomato</li>
              <li>French Onion</li>
              <li>Clam Chowder</li>
              <li>Minestrone</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-3 menuItem" style="padding:0px" [ngClass]="{highlighted: item === 'ice cream'}">
        <div class="row">
          <div class="shadow">
            <img src="assets/img/icecream.jpeg" class="sideItem">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 itemName">
            Ice Cream
          </div>
          <div class="col-xs-9">
            <ul style="font-size:93%">
              <li>Vanilla</li>
              <li>Chocolate</li>
              <li>Strawberry</li>
              <li>Cookie Dough</li>
              <li>Mocha</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
